<h1>Data Input</h1>
<p>Masters Project for MSU <a href="http://www.google.com">Masters Project </a> This is a test to make sure it is saving.
</p>

<body>
 
  <div id="content">
	      
	    <form method="post" action="review_upload.php" enctype="multipart/form-data">

		Upload CSV File:
	    <input type="file" name="file"> 
	    <br/><br/>
	    <input TYPE="submit" name="submit" value="Submit"/>

		</form>
		<br/>
	</div>
</body>
